client/.git
client/.vscode
client/.dockerignore
client/.gitignore
client/.env
client/config
client/dist
client/node_modules
client/Dockerfile.dev
client/README.md

server/.git
server/.vscode
server/.dockerignore
server/.gitignore
server/.env
server/static
server/config
server/dist
server/node_modules
server/Dockerfile.dev
server/README.md